html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

:root {
    --brandColor: hsl(204, 82%, 45%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
}

body, .mainContent {
    background: var(--background);
    color: var(--textDark);
}

.footer {
    position: absolute;
    width: 100%;
    height: 5rem;
}

.mainContent {
    min-height: 100vh;
}

.polyforum {
    margin-top: 4rem;
    background: white;
    border-radius: 10px;
}

.polyforum-bigger {
    margin-top: 10rem;
    background: white;
    border-radius: 10px;
}

.tp-message {
    margin-top: 1.5rem !important;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    z-index: 1000 !important;
}

.goBackButtonIcon {
    position: absolute;
    cursor: pointer;
}

.goBackButtonIcon:hover {
    filter: opacity(0.8);
}

/* ########################################### */
/*           Affichage des threads             */
/* ########################################### */


.subforum{
    margin-top:20px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 20% 60% 5% 15%;
    border-radius: 1px;
    border-width: 1px;
    border: solid black;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 1px;
    border: solid grey;
}

.subforum-delete{
    padding: 10px;
    margin:4px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ########################################### */
/*           Affichage des posts               */
/* ########################################### */

.postforum{
    margin-top:20px;
}

.postforum-row{
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    border: solid black;
}

.postforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    border: solid grey;
}

.postforum-delete{
    padding: 10px;
    margin:4px;
}

/* ########################################### */
/*           Affichage des messages            */
/* ########################################### */

.messageforum{
    margin-top:20px;
}

.messageforum-row{
    display: grid;
    grid-template-columns: 15% 85%;
    border: solid black;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.messageforum-column{
    padding: 10px;
    margin:4px;   
}

.messageforum-column-mana{
    padding: 10px;
    margin:4px;   
    border-radius: 5px; 
    position: absolute;
    grid-row-end: span 2;
    top: 35px;
}

.border-right{
    border-radius: 1px;
    border-right: solid GRAY;
}

.messageforum-column-2{
    padding: 10px;
    margin:4px;
    border-radius: 5px; 
    position: absolute;
    bottom: 30px;
    grid-row-end: span 2;
}  

.messageforum-column-suppr{
    padding: 10px;
    margin:4px;
    border-radius: 5px; 
    position: absolute;
    bottom: 0;
    grid-row-end: span 2;
}  

.messageforum-column-3{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    float: right;
    clear: right;
    
}

.messageforum-column-4 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
  }

/* ########################################### */
/*           Compte utilisateur                */
/* ########################################### */

.account-row{
    display: grid;
    grid-template-columns: 100%;
}

.account-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
}

/* ########################################### */
/*           Information d'un post             */
/* ########################################### */

.postdata{
    margin-top:20px;
    border: solid black;
}

.postdata-row{
    display: grid;
    grid-template-columns: 100%;
}

.postdata-column{
    padding: 1px;
    margin:4px;
    border-radius: 5px;
}

.highlight {
    background-color: #B0E0E6;
  }
